@model PagedList.IPagedList<PublishingHouse.Models.ArticleViewModel>
@using PagedList.Mvc;

<style type="text/css">
    p {
        line-height: 1.5em;
        max-height: 4.5em;
        overflow: hidden;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row col-md-12 col-xs-12 center-block">

    <div class="container" style="padding:0px">
        <div style="margin:10px 10px 10px 0px;" class="row">
            @using (Html.BeginForm())
            {
                <input type="text" name="SearchString" class="col-lg-8 col-md-8 col-xs-12" style="max-width:1000px" />
            }
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
            @foreach (var article in Model)
            {
                <div class="row" style="margin-bottom:5px; padding:0px;">
                    <h4>@Html.ActionLink(article.Name, "Details", "Home", new { id = article.Id }, null)</h4>
                    @article.Authors <br />
                    <p>@article.Annotation</p>
                </div>
            }
            <br />
        </div>
        <div class="col-md-12 col-xs-12" style="margin:0px; padding:0px;">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
